<div>
  <h1>Sample with all country</h1>
  <rl-intl-phone [NumberTextValue]="'8602605927'" [SelectedCountryISOCode]="'US'" [ConfigurationOption]="configOption2" ></rl-intl-phone>
</div>



<div>
  <h1>Sample with selected country</h1>
  <rl-intl-phone [CountryList]="selectedCountryList"  [ConfigurationOption]="configOption1" (OnNumberChange)="onNumberChange($event)"></rl-intl-phone>
</div>

<form [formGroup]="sampleForm">


<div>
  <h1>Sample with Reactive Form Support</h1>
  <rl-intl-phone formControlName="sampleReactiveControl" [ConfigurationOption]="configOption3" ></rl-intl-phone>
</div>
{{controls['sampleReactiveControl'].value | json}}
<button class="btn btn-primary" (click)="ToggbleEnableDisableState()" >Toggle Enable/Disable</button>
<button (click)="GetFormValue()">Get Value Using FormGroup</button>
</form>