<div>
  <h1>Sample with all country</h1>
  <rl-intl-phone
    [numberTextValue]="'8602605927'"
    [selectedCountryISOCode]="'US'"
    [configurationOption]="configOption2"
  ></rl-intl-phone>
</div>

<div>
  <h1>Sample with selected country</h1>
  <rl-intl-phone
    [countryList]="selectedCountryList"
    placeholder="Hello"
    [configurationOption]="configOption1"
    (onNumberChange)="onNumberChange($event)"
  ></rl-intl-phone>
</div>
-

<form [formGroup]="sampleForm">
  <div>
    <h1>Sample with Reactive Form Support</h1>
    <rl-intl-phone
      key="phone-number"
      formControlName="phone"
      [selectedCountryISOCode]="'US'"
      [configurationOption]="configOption3"
      (onNumberChange)="onNumberChange($event)"
    ></rl-intl-phone>
  </div>
  <button class="btn btn-primary" (click)="ToggbleEnableDisableState()">
    Toggle Enable/Disable
  </button>
  <button (click)="GetFormValue()">Get Value Using FormGroup</button>

  <ng-container *ngIf="singleParticipants.controls.length">
    @for (item of singleParticipants.controls;track $index) {
    <div>
      <h1>Sample with Reactive Form Array Support</h1>
      <rl-intl-phone
        [key]="'phone-' + $index"
        formControlName="phoneNumber"
        [selectedCountryISOCode]="'US'"
        [configurationOption]="configOption3"
        (onNumberChange)="onNumberChange($event)"
      ></rl-intl-phone>
    </div>

    }
  </ng-container>
</form>
